<h2>編集</h2>

<%= form_with model: @end_user, url: end_users_path, method: :patch do |f|  %>

  <div class="field">
    <p>名前</p>
    <%= f.label "姓" %>
    <%= f.text_field :last_name, class: "last_name" %>
    <%= f.label "名" %>
    <%= f.text_field :first_name, class: "first_name" %>
  </div>

   <div class="field">
    <p>フリガナ</p>
    <%= f.label "セイ" %>
    <%= f.text_field :last_name_kana, class: "last_name_kana" %>
    <%= f.label "メイ" %>
    <%= f.text_field :first_name_kana, class: "first_name_kana" %>
  </div>

  <div class="field">
    <%= f.label "メールアドレス" %>
    <%= f.email_field :email, class: "email" %>
  </div>

  <div class="field">
    <%= f.label "郵便番号" %>
    <%= f.text_field :postal_code, class: "postal_code" %>
  </div>

  <div class="field">
    <%= f.label "住所" %>
    <%= f.text_field :address, class: "address" %>
  </div>

  <div class="field">
    <%= f.label "電話番号（ハイフンなし）" %>
    <%= f.text_field :phone_number, class: "phone_number" %>
  </div>

  <div class="actions">
    <%= f.submit "編集内容を保存する", class: "btn btn-primary"%>
    <%= link_to "退会する", end_users_hide_confirm_path , class: "btn btn-danger"%>
  </div>

<% end %>
