<li><%= link_to "商品登録", new_admin_item_path %></li>

<table class="table">
    <thead>
        <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
        </tr>
    </thead>
        <tbody>
            <% @products.each do |product| %>
                <tr>
                    <td><%= product.id %></td>
                    <td><%= product.name %></td>
                    <td><%= product.price %></td>
                    <td><%= product.genre.name %></td>
                    <td><%= product.is_sold %></td>
                </tr>
            <% end %>
        </tbody>
</table>