<table class="table table-striped">
            <h2>Book detail</h2>
            <th>
            <%= attachment_image_tag @product, :image, :fill, 230,154, fallback: 'sample.png',size:'60x60' %>
                <td><%= @product.id %></td>
                <td><%= @product.name %></td>
                <td><%= @product.price %></td>
                <td><%= @product.genre_id %></td>
                <td><%= @product.is_sold %></td>

                <td><%= link_to '商品一覧へ', admin_items_path %></td>
    </table>