<%= form_with model: @order do |f| %>
      <h3>注文確認<//h3>
      <table>
               <tr>
          　　　　　　<td>商品画像</td>
          　　　　　　<td>商品名</td>
          　　　　　　<td>税込価格</td>
                    <td>個数</td>
                    <td>小計</td>
          　　　</tr>
          <% @sum = 0 %>
          　<% @cart_items.each do |cart_item| %>
                <tr>
                    <th><%= attachment_image_tag cart_item.product, :image, :fill, 50, 50 %></th>
                    <th><%= cart_item.product.name %></th>
                    <th><%= (cart_item.product.price * 1.1).round %>円</th>
                    <th><%= cart_item.quantity %>個</th>
                    <th><%= (cart_item.product.price * 1.1).round.to_i * cart_item.quantity.to_i %>円</th>
                    <% @sum += (cart_item.product.price * 1.1).round.to_i * cart_item.quantity.to_i %>
                </tr>
           <% end %>
      </table>
          <table>
              <tr>
                  <th>商品合計</th>
                  <td><%= @sum %>円<td>
              </tr>
              <tr>
                  <th>送料</th>
                  <th>800円</th>
              </tr>
              <tr>
                  <th>請求金額</th>
                  <td><%= 800 + @sum.to_i %></td>
              </tr>
              <tr>
                  <th>支払い方法</th>
                  <td><%= @order.payment_method %></td>
              </tr>
              <tr>
                  <th>お届け先</th>
                  <td><%= @order.postal_code + @order.address %></td>
                  <td><%= @order.name %></td>
              </tr>
        </table>
<% end %>

<div><%= link_to "購入を確定する", orders_thanks_path, data: { confirm: '本当によろしいですか?' } %></div>